.score-graph {
  margin: 10px;
  box-shadow: 5px 5px 5px 5px lightgray;
  padding: 20px;
}

.wpm-graph {
  margin: 10px;
  box-shadow: 5px 5px 5px 5px lightgray;
  padding: 20px;
}

<<<<<<< Updated upstream
.graphs {
  display: flex;
  flex-direction: column;
}
=======
 .graphs {
    display: flex;
    flex-direction: column;  
 }

>>>>>>> Stashed changes

@media screen and (min-width: 800px) {
  .graphs {
    flex-direction: row;
  }
}
