.score-graph {
    margin: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
    padding: 20px;
}

.wpm-graph {
    margin: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
    padding: 20px;
}

 .graphs {
    display: flex;
    flex-direction: row;    
    
 }


