.Registration {
  background-color: rgba(217, 193, 170, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.reg-title {
  color: #51808c;
  position: absolute;
  padding: 20px;
  top: 10px;
  text-decoration: none;
}
.reg-container {
  position: absolute;
  top: 25vh;
  right: 5vh;
  left: 5vh;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px lightgray;
  background-color: white;
}
.reg-account {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
  padding: 20px;
  width: 50%;
}
.reg-input,
.reg-select {
  margin: 10px;
  padding: 5px;
  border: none;
  border: 1px solid #d9c1aa;
  border-radius: 10px;
}
.reg-input:focus,
.reg-select:focus {
  outline: none;
}

.reg-btn {
  margin: 10px auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  border: 1px solid #d9c1aa;
  border-radius: 6px;
  background-color: rgba(217, 193, 170, 0.3);
  color: #302b28;
}
.reg-btn:hover {
  background-color: #ae9172;
  color: #302b28;
}
.reg-btn:disabled {
  display: none;
  pointer-events: none;
}

.error {
  color: red;
  font-size: 15px;
  font-weight: normal;
}
.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar-img {
  margin: 10px;
}

.avatar-select {
  position: fixed;
  opacity: 0;
  width: 0;
  height: 0;
}

.avatar-select + .avatar-img {
  cursor: pointer;
}

.avatar-select:checked + .avatar-img {
  outline: 2px solid black;
}

@media screen and (min-width: 800px) {
  .reg-container {
    position: absolute;
    top: 25vh;
    right: 25vh;
    left: 25vh;
  }
  .avatar-container {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1000px) {
  .reg-container {
    position: absolute;
    top: 25vh;
    right: 50vh;
    left: 50vh;
  }
  .avatar-container {
    display: flex;
    flex-direction: row;
  }
}
