.leaderboard {
    margin-top: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 0 100%;
    border: 1px solid gray;
    box-shadow: 8px 8px lightgray;

}

.list-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
}

.leaderboard-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 5px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    box-shadow: 2px 2px lightgray;
}
.leaderboard-list:hover {
    box-shadow: 8px 8px lightgray;
}
.avatar {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

.username {
    margin: 10px;
}

.score {
    margin: 10px;
}