.story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #d9c1aa, #dfa36b);
  position: static;
  overflow: scroll;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}
.story-name {
  align-self: center;
}

.story-container img {
  width: 20rem;
  height: 25rem;
  border: 1px solid #ae9172;
  box-shadow: 3px 3px #ae9172;
}

.story-type-text {
  text-align: left;
  line-height: 30px;
  height: auto;
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(217, 193, 170, 1);
}

a {
  text-decoration: none;
  color: black;
}

.skip {
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 30px;
}
.story-img {
  margin-bottom: 50px;
}

.story-text {
  margin: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.story {
  text-align: center;
  margin: 50px;
  height: 100vh;
}

.start-challenge {
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  border-bottom: 2px solid lightgray;
  margin-top: 25px;
}

.after-timer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 600px) {
  .story-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .story-type-text {
    text-align: left;
    line-height: 30px;
    height: 500px;
    width: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 200px;
    background-color: rgba(217, 193, 170, 1);
  }
  .story-container h2 {
    position: absolute;
    top: 80px;
    font-size: 36px;
  }
}
