.story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9C1AA;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

/* .story-name {
    position: absolute;
    top: 25px;
} */

.story-img {
    margin-bottom: 50px;
}

.story-text {
    margin: 7px;
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

