.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #302b28;
  text-decoration: none;
  width: 100%;
  margin-top: 50px;
}

.start-buttons {
  /* border: 1px solid black; */
  padding: 20px;
  height: 100%;
  width: 100%;
  margin-top: 25px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #302b28;
  text-decoration: none;
  width: 100%;
}

.start-btn {
  margin-top: 10px;
  margin-right: 10px;
  text-decoration: none;
  border: 1px solid #d9c1aa;
  padding: 20px;
  color: #302b28;
  border-radius: 6px;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #ae9172;
  color: #d9c1aa;
}
