.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #302b28;
  text-decoration: none;
  width: 100%;
  margin-top: 50px;

}

.start-buttons {
  padding: 20px;
  height: 100%;
  width: 20vh;
  margin-top: 25px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #d9c1aa;
  padding: 20px;
  color: #302b28;
  border-radius: 6px;
  cursor: pointer;
}

.start-buttons:hover {
  background-color: #ae9172;
}

.start-btn {
  border: none;
}

.start-btn:hover {
  color: #ae9172;
  border: none;
}

.tutorial-text {
  margin-left: 10px;
  margin-right: 10px;
}


@media screen and (min-width: 1000px) {
  .tutorial-text {
    margin-left: 300px;
    margin-right: 300px;
  }
}
