.score-graph {
    margin: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
    padding: 20px;
}

.score-graph:hover {
    box-shadow: 10px 10px 10px 10px lightgray;

}

.wpm-graph {
    margin: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
    padding: 20px;
}

.wpm-graph:hover {
    box-shadow: 10px 10px 10px 10px lightgray;
}

