.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  position: static;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.challenge-div,
.winlose-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word-ul {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
  text-align: center;
  background-color: rgba(217, 193, 170, 1);
  box-shadow: 3px 3px 3px 3px rgba(217, 193, 170, 0.6);
}

.bg {
  background-color: black;
  height: 40px;
  margin-top: 30px;
}

.time-ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid gray;
  box-shadow: 3px 3px 3px 3px rgba(217, 193, 170, 0.2);
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 350px;
  padding: 5px;
  box-shadow: 3px 3px 3px 3px rgba(217, 193, 170, 0.2);
  background-color: #a9cfd9d0;
  border-radius: 10px;
  font-size: larger;
}

.stat {
  text-align: center;
  margin: 10px;
}

.type-input {
  margin: 5px;
  text-align: center;
}

.word-timer {
  border-radius: 50px;
  background-color: black;
  /* width: 50px; */
}

.hint {
  margin: 10px;
  font-size: 2.5vh;
}

.hint-container {
  position: fixed;
  top: 50%;
  bottom: 50%;
  background-color: #51808ca1;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  color: white;
  font-size: 2.5vh;
}

@media screen and (min-width: 600px) {
  .word-ul {
    /* border: 1px solid grey; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    height: 450px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgba(217, 193, 170, 1);
    margin-bottom: 80px;
    transition: all 0.2s ease-in-out;
  }
  .bg {
    background-color: black;
    height: 40px;
    margin-top: 80px;
  }
}
