@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@1,900&family=Open+Sans&display=swap');

body {
  background-color: rgba(217, 193, 170, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Crimson Pro', serif;
}

.dashboard-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid black;
  box-shadow: 0 4px 0 0px lightgrey;
  background-color: #a9cfd9;
}

.dashboard-header-open {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10%;
  width: 100%;
  /* padding: 5px; */
  border-bottom: 2px solid black;
  box-shadow: 0 4px 0 0px lightgrey;
  background-color: #a9cfd9;
  font-family: 'Crimson Pro', serif;
}

.links {
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  color: #302b28;
  padding: 15px;
  margin-top: 7vh;
}

.links:hover {
  text-decoration: none;
  font-size: 24px;
  color: #51808c;
  cursor: pointer;
}

.links-selected {
  color: #51808c;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  padding: 15px;
  margin-top: 7vh;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #d9c1aa, #dfa36b);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav-open {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #d9c1aa, #dfa36b);
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.x {
  color: black;
  font-size: 24px;
  cursor: pointer;
  margin-top: 15px;
}

.x-closed {
  color: black;
  font-size: 24px;
  cursor: pointer;
  margin-top: 7px;
  margin-right: 10px;
  padding: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 24%;
}

.user-header {
  display: none;
}

@media screen and (min-width: 400px) {
  .sidenav-open {
    width: 90px;
  }

  .dashboard-header-open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
  }
}

@media screen and (min-width: 600px) {
  .sidenav-open {
    width: 100px;
  }

  .dashboard-header-open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
  }

  .user-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-left: 100px;
  }
}

@media screen and (min-width: 800px) {
  .sidenav-open {
    width: 200px;
  }

  .dashboard-header-open {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
  }
  .content-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
  }
}

@media screen and (min-width: 1000px) {
  .content-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
  }
}


@media screen and (min-width: 1400px) {
  .content-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
}