.Login {
  background-color: #302b28;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.login-title {
  color: #d9c1aa;
  position: absolute;
  padding: 20px;
  top: 10px;
  text-decoration: none;
}


.login-container {
  position: absolute;
  top: 25vh;
  right: 5vh;
  left: 5vh;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #d9c1aa;
  box-shadow: 3px 3px 3px lightgray;
}
.log-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
  padding: 20px;
  width: 50%;
}
.log-input {
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 10px;
}
.log-input:focus {
  outline: none;
}
.log-btn {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #302b28;
  border-radius: 6px;
  background-color: #d9c1aa;
  color: #302b28;
}
.log-btn:hover {
  background-color: #302b28;
  color: #d9c1aa;
}
.log-input {
  margin: 10px;
}

.error {
  color: red;
  font-size: 15px;
  font-weight: normal;
}

.signup-lnk {
  color: blue;
}
@media screen and (min-width: 800px) {
  .login-container {
    position: absolute;
    top: 25vh;
    right: 25vh;
    left: 25vh;
  }
}
@media screen and (min-width: 1000px) {
  .login-container {
    position: absolute;
    top: 25vh;
    right: 50vh;
    left: 50vh;
  }
}
