.accountInfo {
  text-align: center;
}
.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 30vh;
  padding: 5px;
  box-shadow: 4px 4px 4px 4px lightgray;
}

.set-label {
  margin: 10px;
  padding: 10px;
}
.set-input {
  border: 1px solid #d9c1aa;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}
.btn-container {
  margin: 20px;
}
.set-btn {
  margin-top: 25px;
  margin-right: 10px;
  text-decoration: none;
  border: none;
  border-bottom: 3px solid #d9c2ac;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  color: #74665a;
  border-radius: 6px;
}

.set-btn:hover {
  background-color: #ae9172;
  opacity: 75%;
  color: #d9c1aa;
}

.error {
  color: red;
  font-size: 15px;
  font-weight: normal;
}

.option-setting {
  padding-top: 50px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid lightgray;
}

.setting-header {
  border-bottom: 2px solid lightgray;
  padding: 25px;
}

.set-btn:disabled {
  display: none;
  pointer-events: none;
}

@media screen and (min-width: 800px) {
  .settings-container {
    padding: 50px;
    width: 25vw;
  }
}
